body {
    background-color: #f0d2d2;
}
h1 {
    top:40%;
    bottom:60%;
    position: absolute;
    text-align: center;
    width:100%;
    left: 0px;
}
h3 {
    top:48%;
    bottom:50%;
    position: absolute;
    text-align: center;
    width:100%;
    left: 0px;
}
.botton {
    top:55%;
    bottom:65%;
    position: absolute;
    text-align: center;
    left: 47%;
}
